.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.checkbox input {
    position: relative;
    top: 2.5px;
    margin-right: 5%;

}

.checkbox:checked {
    background-color: blue;
    border-color: blue;
    color: white;
}

.strike-through {
    position: relative;
}

.strike-through::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.strike-through:hover::after {
    transform: scaleX(1);
}